    <!--Footer-->
        <footer class="footer-index" id="footer">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 col-sm-6 footerleft ">
                    <div class="logofooter">
                      <img src="<%= image_path('logo.png') %>" height="45"  alt="Logo">
                       <span class="heading7">Campakan Sobat Bumi</span>
                    </div>
                      <p class="info-company">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                  </div>
                  <div class="col-md-4 col-sm-6 paddingtop-bottom contact-footer">
                    <h6 class="heading7">Contact</h6>
                    <p><i class="fa fa-map-o" aria-hidden="true"></i>County, Street name - number</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i>032 267 899 442</p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i>company@name.com</p>
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i>Mon.-Fri.: 10-20 Sun.: 12-16</p>
                  </div>
                  <div class="col-md-4 col-sm-6 paddingtop-bottom contact-footer">
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                      <div class="fb-xfbml-parse-ignore">
                      <h6 class="heading7">Follow Us on Social Media</h6>
                          <p class="info-company">Find Us On : </p>
                          <div class="sosmed-icon">
                          <a href="#"><span>Facebook</span></a>
                          <a href="#"><span>Twitter</span></a>
                          <a href="#"><span>Google+</span></a>
                          <a href="#"><span>Github</span></a>
                          <a href="#"><span>Dribbble</span></a>
                          <a href="#"><span>CodePen</span></a>
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
    <footer class="page-footer no-padding">
    <footer class="page-footer no-padding">
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2018 Startup. All rights reserved.

            </div>
        </div>
        <!--/.Copyright-->

    </footer>