<nav class="nav navbar navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <div class="search-right">
             <a class="mk-search-trigger mk-fullscreen-trigger" href="#" style="display: table-cell; padding: 0 30px 0 20px; vertical-align: middle;" id="search-button-listener">
                <div id="search-button"><i class="fa fa-search"></i></div>
              </a>
              <div class="mk-fullscreen-search-overlay" id="mk-search-overlay">
                <a href="#" class="mk-fullscreen-close" id="mk-fullscreen-close-button"><i class="fa fa-times"></i></a>
                <div id="mk-fullscreen-search-wrapper">
                  <form method="get" id="mk-fullscreen-searchform" action="">
                    <input id="mk-fullscreen-search-input" type="text" value="" placeholder="Search...">
                    <i class="fa fa-search fullscreen-search-icon"><input value="" type="submit"></i>
                  </form>
                </div>
              </div>
            </div>
            <button class="navbar-toggler navbar-toggler-right">
            <!-- Navigation -->
            <div style="z-index: 9999;">
            <div class="b-nav triangle top">
            <ul>
              <li>
                <%= link_to('home', root_path, html_options = {class: 'b-link'}) %>
              </li>
              <li><a class="b-link" href="services.html">Service</a>
                <ul class="triangle right">
                    <li><a href="#">Service V2</a></li>
                </ul>
              </li>
              <li><a class="b-link" href="/blog">Blog</a>
                <ul class="triangle right">
                    <li><a href="blog-detail.html">Blog List</a></li>
                    <li><a href="blog-detail.html">Blog Detail</a></li>
                </ul>
              </li>
              <li><a class="b-link" href="#!">Portfolio</a>
                <ul class="triangle right">
                    <li><a href="portfolio-detail.html">Portfolio Detail</a></li>
                </ul>
              </li>
              <li><a class="b-link" href="about-us.html" target="_blank">About Us</a></li>
              <li>
                <%= link_to('contact', contact_pages_path, html_options = {class: 'b-link'}) %>
              </li>
            </ul>
            </div>

            <!-- Burger-Icon -->
            <div class="b-container">
              <div class="b-menu">
                <div class="b-bun b-bun--top"></div>
                <div class="b-bun b-bun--mid"></div>
                <div class="b-bun b-bun--bottom"></div>
              </div>
            </div>
            </div>
            </button>
            <a class="navbar-brand" href="/">
                <img src="<%= image_path('logo.png') %>" height="35px" alt="Logo">
            </a>
        </div>
    </nav>
