  <div class="col-md-3">
    <a href="#">
      <div class="product-wrapper">
        <div class="one-product">
          <div class="one-product--image" style="background-image:url(<%= product.image_url %>)">
          </div>
          <div class="one-product--description">
            <div class="one-product--title"><%= product.name %></div>
            <div class="one-product--price"><%= product.price %></div>
          </div>
        </div>
      </div>
    </a>
</div>
